div.priceItems{
    width: 3.595rem;
  height: 1.265rem;
  margin: .15rem auto;
  background-image: url(../../img/bg_kuang_kuangji.png);
  background-size: 100%;
  div{
    flex-grow: 1; /* default 0 */
  }
  div.price{
      line-height: .75rem;
      text-indent: .35rem;
      color: #ffde00;
  }
  div.items{
      color: white;
      padding-top: .35rem;
      p{
          line-height: .3rem;
      }
  }
}
ul.deal_tab{
    width: 3.09rem;
    height: .365rem;
    border: .005rem solid #00a8ff;
    border-radius: .5rem;
    margin: 0 auto;
    li{
        flex-grow: 1; /* default 0 */
        text-align: center;
        background-color: #06c7ff;
        a{
            display: inline-block;
            width: 100%;
            color: white;
            line-height: .365rem;
        }
    }
    li.active{
        background-color: transparent;
    }
}
ul.guadanTab{
    width: 100%;
    height: .935rem;
    border-top: .005rem solid #00a8ff; 
    border-bottom: .005rem solid #00a8ff; 
    position: fixed;
    left: 0;
    bottom: .65rem;
    li{
        flex-grow: 1;
        height: .935rem;
        text-align: center;
        img{
            width: .35rem;
            height: .36rem;
            margin: .2rem auto 0;
        }
        a{
            color: white;
        }
    }
    li:nth-child(2){
        border-left: .005rem solid #00a8ff;
    }
}
/*点对点*/
.ptpFrom{
    padding: 0 .4rem;
    ul{
        flex-direction: column;
        li{
            height: .48rem;
            line-height: .48rem;
            font-size: .12rem;
            border-bottom: .005rem solid #00a8ff;
            span{
                display: inline-block;
                width: .95rem;
                color: #00a8ff;
            }
            input{
                border: none;
            }
            input[placeholder], [placeholder], *[placeholder] {   
                color: rgba(255, 255, 255, .3) !important;
            } 
            ::-webkit-input-placeholder { /* WebKit browsers */
                color: rgba(255, 255, 255, .3) !important;
            }
        }
    }
}